*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*:focus {
    outline:none !important
}

body{
    background-color: #fab696;
    margin-left: 150px;
    margin-right: 150px;
}

.header{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sitetitle{
    display: inline-block;
}

.navigation{
    float: right;
}

.nav-item{
    display: inline-block;
    margin-left: 30px;
}

p{
    font-size: 22px;
}

button{
    border: 1.2px solid black;
    background-color: #fab696;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 2px;
}

.apparea{
    text-align: center;
    margin-top: 50px;
}

.buttonarea{
    margin-top: 50px;
}

.chordarea{
    margin-top: 50px;
}

.generatearea{
    margin-top: 50px;
}